@import 'base';

.block--cta {
    position: relative;

    &.border-top {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            top: 0;
            height: 1px;
            width: calc(min(100vw, var(--wp--style--global--wide-size)) * 10/12 - 40px);    
            background-color: var(--wp--preset--color--grey);
        }
    }

    .cta {

        &__heading {
            margin-bottom: 50px;
        }

        &__title {
            margin-bottom: 0;
        }

        &__content {
            display: flex;
            flex-direction: column;
            @include mq(min-sm) {
                flex-direction: row;
                justify-content: center;
            }

            .separator {
                font-weight: 700;
                margin: var(--wp--preset--spacing--40) 0;
                @include mq(min-sm) {
                    margin: 0;
                    display: flex;
                    flex-basis: 20%;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        &__left,
        &__right {

            &__heading {
                margin-bottom: 15px;
            }
        }

        &__left {
            flex-basis: 30%;
            @include mq(min-xmd) {
                flex-basis: 40%;
            }

            &__content {
                display: flex;
                flex-wrap: wrap;
                gap: 20px 30px;
                @include mq(min-sm) {
                    justify-content: space-between;
                }
            }

            &__phone,
            &__email {
                display: flex;
                align-items: center;
                @include hover-link-hidden;
                transition: text-underline-offset var(--wp--custom--animation--duration) var(--wp--custom--animation--curve), text-decoration-color var(--wp--custom--animation--duration) var(--wp--custom--animation--curve), opacity .5s var(--wp--custom--animation--curve), transform .5s var(--wp--custom--animation--curve);
	            will-change: text-underline-offset, text-decoration-color, opacity, transform;

                svg {
                    margin-right: 10px;
                }
            }
        }

        &__right {
            flex-basis: 50%;
            @include mq(min-xmd) {
                flex-basis: 40%;
            }

            &__content {

                form {
                    display: grid;
                    grid-template-columns: auto 100px;
                    gap: 10px;
                    max-width: 500px;

                    .wpcf7-form-control-wrap {
                        margin: 0;
                    }

                    .wp-block-button {
                        width: 100%;

                        button {
                            width: 100%;
                        }
                    }

                    >.full-width,
                    .wpcf7-response-output {
                        grid-column: 1/3;
                    }
                }
            }
        }
    }
}