@import 'base';

.block--properties {

    .properties {

        &__heading {
            margin-bottom: var(--wp--preset--spacing--40);
            display: flex;
            flex-direction: column;
            @include mq(min-sm) {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }

            .wp-block-button {
                margin-top: var(--wp--preset--spacing--30);
                @include mq(min-sm) {
                    margin-top: 0;
                }
            }
        }

        &__title {
            margin-bottom: 0;
        }

        &__content {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;  
        }
    }
}