.main--404 {
    text-align: center;
    padding-top: var(--wp--preset--spacing--90);
    padding-bottom: var(--wp--preset--spacing--90);

    .content__404 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .wp-block-button {
            margin-top: var(--wp--preset--spacing--20);
        }
    }
}